<button type="button" (click)="move()" [disabled]="!enableMove ? 'disabled': null" class="btn-success btn btn-secondary mr-3">Effettua mossa</button>
<button type="button" (click)="update()"   class="btn btn-secondary mr-3">Aggiorna</button>
<br><br>
<div class="row">
  <div class="col">
    <b >Stato della partita:</b><br>
    <div *ngIf="!enableMove && match.status == matchStatus.onGoing" style="color:red;">In attesa dell'avversario</div> 
    <div *ngIf="enableMove && match.status == matchStatus.onGoing" style="color:green;">È il tuo turno!</div> 
    <div *ngIf="match.status == matchStatus.end" style="color:red;">Terminata</div> 
    <br>
    <b *ngIf="match.status == matchStatus.end">Vincitore:</b><br>
    <div *ngIf="match.status == matchStatus.end" style="color:green;">{{match.winner.name + ' ' + match.winner.surname}}</div> 
    <br>
    <b>Giocatori:</b><br>
    <div>{{match.maker.name}} {{match.maker.surname}} VS {{match.player.name}} {{match.player.surname}}</div> 
    <br>
    <b>Data creazione:</b><br>
    <div>{{match.date | date:'dd/MM/yyyy hh:mm:ss'}}</div> 
    <br>
    <b *ngIf="moveList">Lista mosse:</b><br>
      <dx-data-grid *ngIf="moveList" [dataSource]="moveList"  [columnAutoWidth]="true" >
        <dxi-column caption="Nome" dataField="maker.name" ></dxi-column>
        <dxi-column caption="Cognome" dataField="maker.surname" ></dxi-column>
        <dxi-column caption="Data mossa" [calculateCellValue]="moveDate"></dxi-column>
    </dx-data-grid>
  </div>
  <div class="col">
    <b>Campo di gioco:</b><br>
    <div class="playground">
      <div [className]="'pg1'"></div>
      <div [className]="'pg2'"></div>
      <div [className]="'pg3'"></div>
      <div [className]="'pg4'"></div>
      <div [className]="'pg5'"></div>
      <div [className]="'pg6'"></div>
      <div [className]="'pg7'"></div>
      <div [className]="'pg8'"></div>
      <div [className]="'pg9'"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
   
  </div>
</div>

