<dx-data-grid *ngIf="userList" [dataSource]="userList" keyExpr="id" [columnAutoWidth]="true" >
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-filter-panel [visible]="true"></dxo-filter-panel>
    <dxi-column caption="Giocatore"  dataField="fullName" ></dxi-column>
    <dxi-column caption="Punteggio" dataField="matches"></dxi-column>
    <dxi-column caption="Partite" dataField="winner"></dxi-column>
    <dxi-column caption="Data d'iscrizione" dataField="date" dataType="date"></dxi-column>
</dx-data-grid>
