<button type="button" (click)="createMatch()" class="btn btn-secondary btn-success">Crea partita</button>
<br><br>
<b >Utente corrente:</b><br>
<div style="color:green;">{{currentUser.name}} {{currentUser.surname}}</div> <br><br>

<b>Lista giocatori:</b>
<ul>
  <li *ngFor="let user of userList">
    {{user.name}} {{user.surname}}
  </li>
</ul>
<br>
<b>Lista partite:</b>
<hr>
<ng-container *ngIf="userMatches">
  <div class="flex p-0" *ngFor="let match of userMatches">
    <p><b>Data: </b>{{match.date | date:'dd/MM/yyyy hh:mm:ss'}}<br><b>Creatore: </b>{{match.maker.name}} {{match.maker.surname}}<br><b>Stato:
      </b>{{match.status | matchStatus}}<br>
      <span *ngIf="match.status == matchStatus.onGoing"><b>Giocatori:
        </b>{{match.maker.name}} {{match.maker.surname}} VS {{match.player.name}} {{match.player.surname}}</span><br>

    </p>
    <div *ngIf="match.id == selectedMatchID">
      <b>Lista mosse:</b>
      <ul *ngFor="let move of match.moves">
        <li>{{move.maker.name}} {{move.maker.surname}} - {{move.date | date:'dd/MM/yyyy hh:mm:ss'}}</li>
      </ul>
    </div>
    <button type="button" (click)="joinMatch(match)"
      *ngIf="(match.status == matchStatus.onHold && match.maker.name !== currentUser.name && match.maker.surname !== currentUser.surname)"
      class="btn btn-secondary">Partecipa</button>
    <button type="button" (click)="seeMatch(match)" *ngIf="(match.status == matchStatus.onGoing)"
      class="btn btn-secondary mr-3">Visualizza</button>
    <button type="button" (click)="seeMoveList(match)" *ngIf="(match.status == matchStatus.onGoing)"
      class="btn btn-secondary">Lista mosse</button>
    <hr>
  </div>
</ng-container>
